<%-include('includes/index_header')-%>
<style>
  .background-video-container {
    position: relative;
    width: 100%;
    height: 800px; /* Adjust the height as needed */
    overflow: hidden;
  }
  
  #background-video {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    height: 100%;
    object-fit: cover;
    transform: translate(-50%, -50%);
  }
  </style>
<!-- Header -->
<header class="header" id="header">
  <!-- Top Nav -->
  <!-- <div class="top-nav">
    <div class="container d-flex">
      <ul class="d-flex">
        <li><a href="#">About Us</a></li>
        <li><a href="#">FAQ</a></li>
        <li><a href="#">Contact</a></li>
      </ul>
    </div>
  </div> -->
  <div class="navigation">
    <div class="nav-center container d-flex">
      <a href="/home" class="logo"><h1>HELIO</h1></a>
      <ul class="nav-list d-flex">
        <li class="nav-item"><a href="/home" class="nav-link">Home</a></li>
        <li class="nav-item"><a href="/prod" class="nav-link">Shop</a></li>
        <li class="nav-item"><a href="#terms" class="nav-link">Terms</a></li>
        <li class="nav-item"><a href="#about" class="nav-link">About</a></li>
        <li class="nav-item"><a href="#contact" class="nav-link">Contact</a></li>
        <li class="icons d-flex">
          <a href="/profile" class="icon"><i class="bx bx-user"></i></a>
          <div class="icon"><i class="bx bx-search"></i></div>
          <a href="/wishlisted">
            <div class="icon"><i class="bx bx-heart"></i><span class="d-flex">0</span></div>
          </a>
          <a href="/cart" class="icon"><i class="bx bx-cart"></i><span class="d-flex"></span></a>
        </li>
      </ul>
      <div class="icons d-flex">
        <a href="/profile" class="icon"><i class="bx bx-user"></i></a>
        <div class="icon"><i class="bx bx-search"></i></div>
        <a href="/wishlisted">
          <div class="icon"><i class="bx bx-heart"></i></div>
        </a>
        <a href="/cart" class="icon"><i class="bx bx-cart"></i></a>
      </div>
      <div class="hamburger"><i class="bx bx-menu-alt-left"></i></div>
    </div>
  </div>

  <!-- Background Video Section -->
  <div class="background-video-container">
    <video autoplay muted loop id="background-video">
      <source src="/assests/video/mac.mp4" type="video/mp4">
      Your browser does not support the video tag.
    </video>
  </div>

  <!-- <div class="hero">
    <div class="glide" id="glide_1">
      <div class="glide__track">
        <div class="glide__slides"> -->
          <!-- Add your slides here -->
        <!-- </div>
      </div>
    </div>
  </div> -->
</header>

<!-- Categories Section -->
<section class="section category">
  <div class="cat-center">
    <a href="/business">
      <div class="cat">
        <img src="/assests/img/Apple-Macbook-air-scaled.jpg" alt="" />
        <div><p>BUSINESS</p></div>
      </a>
    </div>
    <div class="cat">
      <a href="/gaming">
        <img src="/assests/img/Lenovo-ideapad-gaming-laptop-scaled.jpg" alt="" />
        <div><p>GAMING</p></div>
      </a>
    </div>
    <div class="cat">
      <a href="/convertible">
        <img src="/assests/img/HP-Spectre-14x360-1-scaled.jpg" alt="" />
        <div><p>CONVERTIBLE</p></div>
      </a>
    </div>

   
</section>

<!-- New Arrivals -->
<section class="section new-arrival">
  <div class="title">
    <h1>NEW ARRIVALS</h1>
    <p>All the latest picked from designer of our store</p>
  </div>
  <div class="product-center">
    <% products.forEach(product => { %>
    <div class="product-item">
      <div class="overlay">
        <a href="productdetail?id=<%= product._id %>" class="product-thumb">
          <img src="<%= product.images[0] %>" alt="" />
        </a>
      </div>
      <div class="product-info">
        <span><a href="/productdetail?id=<%= product._id %>"><%= product.product_name %></a></span>
        <h5>&#8377 <%= product.price %></h5>
        <h4><%= product.brand %></h4>
      </div>
      <ul class="icons">
        <li style="background-color: brown;"><i class="bx bx-heart"></i></li>
        <li><i class="bx bx-heart"></i></li>
        <li><a href="/productdetail?id=<%= product._id %>"><i class="bx bx-search"></i></a></li>
        <li><a href="cart/<%= product._id %>"><i class="bx bx-cart"></i></a></li>
      </ul>
    </div>
    <% }) %>
  </div>
</section>

<!-- Promo -->
<section class="section banner">
  <div class="left">
    <span class="trend">Trend Design</span>
    <h1>New Collection 24</h1>
    <p>New Arrival <span class="color">Sale 50% OFF</span> Limited Time Offer</p>
  </div>
  <div class="right">
    <img src="/assests/img/design_portability_1__gfw34rh367u6_large.jpg" alt="">
  </div>
</section>


<!-- Featured -->
<section class="section new-arrival">
  <div class="title">
    <h1>Featured</h1>
    <p>All the latest picked from designer of our store</p>
  </div>
  <div class="product-center">
    <% products.forEach(product => { %>
    <div class="product-item">
      <div class="overlay">
        <a href="productdetail?id=<%= product._id %>" class="product-thumb">
          <img src="<%= product.images[0] %>" alt="" />
        </a>
      </div>
      <div class="product-info">
        <span><a href="/productdetail?id=<%= product._id %>"><%= product.product_name %></a></span>
        <h5>&#8377 <%= product.price %></h5>
        <h4><%= product.brand %></h4>
      </div>
      <ul class="icons">
        <a href="wishlist/<%= product._id %>"><li style="background-color: brown;"><i class="bx bx-heart"></i></li></a>
        <li><a href="/productdetail?id=<%= product._id %>"><i class="bx bx-search"></i></a></li>
        <li><a href="cart/<%= product._id %>"><i class="bx bx-cart"></i></a></li>
      </ul>
    </div>
    <% }) %>
  </div>
</section>

<!-- Footer -->
<footer class="footer">
  <div class="row">
    <div class="col d-flex">
      <h4>INFORMATION</h4>
      <a href="">About us</a>
      <a href="">Contact Us</a>
      <a href="">Term & Conditions</a>
      <a href="">Shipping Guide</a>
    </div>
    <div class="col d-flex">
      <h4>USEFUL LINK</h4>
      <a href="">Online Store</a>
      <a href="">Customer Services</a>
      <a href="">Promotion</a>
      <a href="">Top Brands</a>
    </div>
    <div class="col d-flex">
      <span><i class='bx bxl-facebook-square'></i></span>
      <span><i class='bx bxl-instagram-alt'></i></span>
      <span><i class='bx bxl-github'></i></span>
      <span><i class='bx bxl-twitter'></i></span>
      <span><i class='bx bxl-pinterest'></i></span>
    </div>
  </div>
</footer>

</body>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Glide.js/3.4.1/glide.min.js"></script>
<script src="/assests/js/index.js"></script>
<script src="/assests/js/slider.js"></script>
</html>


